.small-nav{
        background-color: #F6F7F9;
}
.content-width-custom{
    width: 72%;
    margin: 0 auto;
}
.small-nav a{
    text-decoration: underline;
    color: lightskyblue;
    font-size: 17px;
    margin-right: 6px;
}
.small-nav p span{
    color: rgb(168, 31, 31);
}
.small-nav p{
    color: lightgray;
    font-size: 17px;
}