.make-it-special .content-case img{
    width: 100%;
    height: 100%;
}
.make-it-special{
    margin-bottom: 60px;
}
.make-it-special .img{
    position: relative;
    background: rgb(250,250,250);
    background: linear-gradient(180deg, rgba(250,250,250,1) 56%, rgba(89,89,89,1) 71%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 88%);
}
.make-it-special .content-case{
    position: relative; 
    font-family: 'Open Sans', sans-serif;   
    padding: 0.5px;
}
.make-it-special .case-text{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
}
.make-it-special .case-text h4{
    font-weight: 500;
}
.make-it-special .case-text p{
    font-size: 0.6em;
    right: 0px;
    text-align: right;
    top: 0px;
    margin-bottom: 5px;
}
.make-it-special .text{
    padding: 60px 0px 60px 0px;
}
.make-it-special .text h4{
    width: 15%;
    font-size: 1.6em;
    font-weight: 400;
    margin: 0px 80px 0px 30px;
}
.make-it-special .text a{
    width: 40%;
    text-decoration: none;
    text-align: right;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.make-it-special .text p{
    line-height: 2.3em;
    font-size: 0.8em;
    letter-spacing: 0.9px;
    width: 50%;
    margin: 0 auto;
}
/* ======================== RESPONSIVE ====================== */
@media only screen and (max-width: 1400px) {
    .make-it-special   .responsive-flex{
        display: flex;
    }
    .make-it-special   .content1{
        display: flex;
        flex-direction: column;
    }
    .make-it-special  .content2{
        display: flex;
        flex-direction: column;
    }
  }
  @media only screen and (max-width: 760px) {
    .make-it-special   .text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .make-it-special   .text h4, text p , text a{
        width: 100%;
        margin: 0px;
    }
    .make-it-special    .text p{
        margin: 0px;
        width: 100%;
    }
    .make-it-special   .text a{
        justify-content: flex-start;
        margin-top: 20px;
        width: 100%;
    }
    .make-it-special   .responsive-flex{
        display: block;
    }
    .make-it-special   .content1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .make-it-special   .content2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 620px) {
  }