.heading {
    background-image: url('img/Mask Group 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.heading body{
    font-family: 'Open Sans', sans-serif;
}
.heading .grey-filter{
     /* filter: grayscale(85%) brightness(90%) contrast(2);  */
/* filter: grayscale(20%); */
background-color:rgba(22, 22, 22, 0.5);
position: relative;
z-index: 2;
}
.z-100{
    z-index: 100;
}
.heading .z-index-content{
    position: relative;
    z-index: 1;
}
.heading .flex-between h3{
    display: flex;
    color: white;
    font-size: 2.2em;
    align-items: center;
    vertical-align: middle; 
    margin-bottom: 0px;
    font-family: 'Trocchi', serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.heading h3 span{
    color: #DF0A15;
}
.heading .navigate{
}
.heading nav a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 0px;
    margin: 0px 20px 0px 20px;
}
.heading .navigate a:first-child{
    margin-left: 40px;
}
.heading .navigate{
    margin-top: 10px;
    align-items: center;
    vertical-align: middle;    
}
.heading .select{
    display: flex;
    align-items: center;
    vertical-align: middle; 
    position: relative;
    margin-top: 11px;
    justify-content: flex-end;
}
.heading .select img{
    width: 20px;
    height: 20px;
    margin: 0px 3px 0px 12px;
}
.heading .navigate a:nth-child(6){
    display: flex;
}
.heading .navigate a:nth-child(6) span{
    color: white;
    margin-left: 6px;
    background-color: #DF0A15;
    padding: 2px;
    border-radius: 60px;
    font-size: 0.7em;
    padding: 0px 4px;

/* code to put span element up */
    margin-bottom: 10px;
}
.heading .content-width{
    padding: 20px 0px 120px 0px;
}
.heading .hero-text{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 150px;
}
.heading .fas{
    color: white;
}
.heading .fa-search{
    background-color: #DF0A15;
    padding: 4px;
    border-radius: 50%;
    font-size: 0.9em;
}
/* ========== start hero text ( middle part ) ======== */
.heading .hero-text h1{
    color: white;
    font-size: 4.0em;
    text-align: center;
    margin-top: 250px;
}
.heading .hero-text h1 span{
    color: #DF0A15;
}
.heading .hero-text p{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    width: 65%;
    margin: 0 auto;
}
.heading .hero-text a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #DF0A15;
    padding: 9px 25px;
    border-radius: 20px;
    font-size: 1.1em;
    /* A tag won't move horizontally without display block, which messes up the background color // thats why its done with the method underneath ... */
    margin-top: 20px;
    
}
/* ================= RESPONSIVE =============== */
@media only screen and (max-width: 1700px) {
    .heading   nav{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap;
        justify-content: flex-start;
        align-self: flex-start; */
    }
    .heading    .navigate a:first-child{
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
        margin-left: 0px;
    }
    .navigate{
       
    }
    /* .heading   .navigate a:nth-child(6) span{
        display: none;
    } */
  }
  @media only screen and (max-width: 1200px){
    .heading  .navigate{
          display: flex	;
          flex-wrap: wrap;
      }
      .heading   .navigate a{
          display: flex;
          align-self: flex-start;
          justify-content: flex-start;
          float: left;
          margin: 10px;
      }
      .heading  .hero-text h1{
          font-size:2.2em
      }
  }
  @media only screen and (max-width: 995px){
      .heading .select{
          justify-content: flex-start;
      }
      .heading .navigate a{
          margin: 10px 0px 0px 0px;
          
      }
  }
  @media only screen and (max-width: 550px){
      .content-hero .content-with{
          width: 100%;
      }
      .content-hero .hero-text h1{
          width: 100%;
         
      }
  }