body {
    font-family: 'Open Sans', sans-serif;
}

.how-we-do {
    background-color: #F6F7F9;
    padding: 80px 0;
}

@media screen and (max-width: 500px) {
    .how-we-do {
        background-color: #F6F7F9;
        padding: 35px 0;
    }
}

.how-we-do .how-heading {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .how-we-do .how-heading {
        padding-bottom: 25px;
        flex-direction: column;
        text-align: center;
    }
}

.how-we-do .how-heading a {
    color: #1C94D2;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
    .how-we-do .how-heading a {
        font-size: 14px;
        margin-top: initial;
    }
}

.how-we-do .how-heading h3 {
    font-weight: 300;
    font-size: 32px;
}

@media screen and (max-width: 500px) {
    .how-we-do .how-heading h3 {
        font-size: 24px;
    }
}

.how-we-do .items .item {
    background: #fff;
}

@media screen and (max-width: 991px) {
    .how-we-do .items .item {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .how-we-do .items .item {
        margin-bottom: 15px;
    }
}

.how-we-do .items .item li {
    padding: 10px 15px;
    list-style: none;
}

.how-we-do .items .item li a {
    color: #1C94D2;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .how-we-do .items .item li a {
        font-size: 14px;
    }
}

.how-we-do .items .item li a:hover {
    color: #000;
    opacity: .5;
    text-decoration: none;
}

.how-we-do .items .item img {
    width: 100%;
    object-fit: cover;
}